body {
  background-image: url('./background.jpg');
  background-position: center center;
  background-size: cover; 
    height: 100vh;
}

h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

.btn-primary {
    color: #000;
    font-weight: bold;
    background-color: #2e6da4a7 ;
    border-color: #337ab7;
    box-shadow: 1px 1px #888;
}

.btn-primary:hover, .btn-primary:focus {
    color: #000;
  background-color: #0078e1;
  border-color: #2e6da4;
}

#btn1, #btn2 {
    font-size: 20px;
}

.card {
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 55px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.card-text {
  font-size: 18px;
  color: #666;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.card-footer small {
  font-size: 12px;
}


footer {
  font-size: 16px;
  background-color: #ffff66;
}

footer p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #f8f9fa;
}
